.about-me {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-me__title {
    color: #5e0b8e;
    font-size: 35px;
    font-weight: 800;
    font-family: "Montserrat", sans-serif;
}

.about-me__text {
    width: 55%;
    color: #56237a;
    font-size: 20px;
    line-height: 1.1em;
    text-align: justify;
}

.about-me__text:first-of-type {
    margin-top: 25px;
}

.about-me__text:not(:first-of-type) {
    margin-top: 15px;
}

@media (max-width: 768px) {

    .about-me {
        padding-top: 30px;
    }

    .about-me__text {
        width: 80%;
    }
}