@import url('reset.css');
@import url('menu.css');
@import url('home.css');
@import url('about.css');
@import url('skills.css');
@import url('projects.css');
@import url('contact.css');



@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* * {
    box-sizing: border-box;
} */

.body {
    background-color: #e7e6e7;
}

.header,
.about,
.home,
.skills,
.projects,
.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
}

.contact {
    padding-bottom: 40px;
}